<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captcha Example</title>
</head>
<body>
    <div>  
        <form id="capchatform" action="/capchatverif" method="POST">
            <img src="abc.png" alt="Captcha image">
            <label for="captchaPassword">Captcha text:</label>
            <input type="text" name="captchaPassword" required>
            <button type="submit">Submit</button>
        </form>  
    </div>
</body>
</html>